<!-- <div id="nav-menu-btn"><a href="#"><i class="fa fa-caret-down fa-2x"></i></a></div>
<div>
	<nav class="nav-collapse" role="navigation">
		<ul>
			<li><a href="{{ root_url }}/">Blog</a></li>
			<li><a href="{{ root_url }}/blog/archives">Archives</a></li>
			<li><a href="https://twitter.com/davidlindblad">Twitter</a></li>
			<li><a href="https://www.linkedin.com/in/lindblad">LinkedIn</a></li>
			<li><a href="https://www.github.com/davlind">Github</a></li>
			<li><a href="{{ site.subscribe_rss }}">RSS</a></li>
		</ul>
	</nav>
</div> -->

<div class="snap-drawers">
  <div class="snap-drawer snap-drawer-right navigation">
    <div>
      <ul>
        <li><a href="{{ root_url }}/">Blog</a></li>
        <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
        <li class="mobile-only"><a href="https://twitter.com/davidlindblad">Twitter</a></li>
        <li class="mobile-only"><a href="https://www.linkedin.com/in/lindblad">LinkedIn</a></li>
        <li class="mobile-only"><a href="https://www.github.com/davlind">Github</a></li>
        <li class="mobile-only"><a href="{{ site.subscribe_rss }}">RSS</a></li>
      </ul>
    </div>
  </div>
</div>
