<nav>
  <div class="snap-drawers">
    <div class="snap-drawer snap-drawer-right navigation">
      <div>
        <ul>
          <li><h1><a href="{{ root_url }}/">Blog</a></h1></li>
          <li><h1><a href="{{ root_url }}/blog/archives">Archives</a></h1></li>
          <li class="mobile-only"><h1><a href="https://twitter.com/davidlindblad">Twitter</a></h1></li>
          <li class="mobile-only"><h1><a href="https://www.linkedin.com/in/lindblad">LinkedIn</a></h1></li>
          <li class="mobile-only"><h1><a href="https://www.github.com/davlind">Github</a></h1></li>
          <li class="mobile-only"><h1><a href="{{ site.subscribe_rss }}">RSS</a></h1></li>
        </ul>
      </div>
    </div>
  </div>
</nav>