body > header {
  // background: $header-bg;
  background-color: #121212;
  background-image: url('/images/backgr.png');
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  h1 {
    display: inline-block;
    margin: 0px;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }

  .icon {
    margin: $pad-medium auto auto 0;
    padding-left: $pad-narrow;
    padding-right: $pad-narrow;
    width: 50px;
    height:50px;
    display: inline-block;
  }

  .twitter {
    background:transparent url('/images/tw1.png') center top no-repeat;
  }

  .twitter:hover {
   background:transparent url('/images/tw2.png') center top no-repeat;
 }

 .linkedin {
  background:transparent url('/images/in1.png') center top no-repeat;
}

.linkedin:hover {
 background:transparent url('/images/in2.png') center top no-repeat;
}

.rss {
  background:transparent url('/images/rss1.png') center top no-repeat;
}

.rss:hover {
 background:transparent url('/images/rss2.png') center top no-repeat;
}

.github {
  background:transparent url('/images/gh1.png') center top no-repeat;
}

.github:hover {
 background:transparent url('/images/gh2.png') center top no-repeat;
}
}
