@-webkit-keyframes rotate {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(180deg); }
}

@-webkit-keyframes rotateBack {
    0% { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(0deg); }
}

body > section {

    > #nav-menu-btn {

        text-align: right;
        > a {
            padding-top: 5px;;
            color: #777777;


        }
    }

    > #nav-menu-btn {

        > a {
            > i {
                -webkit-animation-duration: 1s;
                -webkit-animation-iteration-count: 1;
                -webkit-transition-timing-function: ease-in-out;
                -webkit-animation-fill-mode: forwards;
            }
        }
    }

    > #nav-menu-btn.active {

        > a {
            > i {
                -webkit-animation-name: rotate;
            }
        }
    }

    > #nav-menu-btn.inactive {

        > a {
            > i {
                -webkit-animation-name: rotateBack;
            }
        }
    }



    > nav {
        clip: rect(0 0 0 0);
        max-height: 0;
        position: absolute;
        display: block;
        overflow: hidden;
        zoom: 1;

        ul {
            list-style: none;
            margin-left: 0px;
            padding-bottom: 5px;

            li {
                text-align: center;
                display: block;
                padding: 5px;
                margin: 5px;
                border: 1px dotted;
            }
        }

        a {
            color: #444444;
        }
    }

    > .nav-toggle {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    > .nav-collapse.opened {
        max-height: 9999px;
    }

    @media only screen and (min-width: 480px) {

        > nav {
            ul {
                @include horizontal-list(0);
                float: left;
                padding-top: .15em;

                li {
                    display: inline;
                    border: none;
                    margin: 0px;
                    padding: 0px;
                }

                li + li {
                    border-left: 1px solid $nav-border-left;
                    margin-left: .8em;
                    a {
                        padding-left: .8em;
                        border-left: 1px solid $nav-border-right;
                    }
                }

            }
        }

        .nav-collapse {
            position: relative;
        }
        .nav-collapse.closed {
            max-height: none;
        }
        #nav-menu-btn {
            display: none;
        }
    }
}

