---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <footer>
      <a class="basic-alignment left button" href="{{paginator.next_page_path}}">&larr; Older</a>
      <a class="basic-alignment right button" href="{{paginator.previous_page_path}}">Newer &rarr;</a>
      <a class="button" href="/blog/archives">Blog Archives</a>
    {% include custom/asides/about.html %}
  </footer>
</div>

